input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

#search-box:focus + #search-icon, #search-box:valid + #search-icon {
    display: none;
}

#search-return {
    justify-self: start;
}

.video-entry-content {
    cursor: pointer;
}

.video-tags {
    margin-top: auto;
}

.video-tag {
    display: flex;
    overflow: hidden;
}

.video-tag-type {
    background-color: var(--panel-bright);
    color: var(--text-light);
    padding: 0.2rem 0.4rem;
    font-size: 1.5rem;
    border-radius: var(--panel-border-radius) 0 0 var(--panel-border-radius);
}

.video-tag-text, .video-tag-additional {
    padding: 0.3rem 0.5rem;
    color: var(--text-normal);
    background-color: var(--panel);
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    white-space: pre;
    border-radius: 0 var(--panel-border-radius) var(--panel-border-radius) 0;
    
}

.video-tag-additional {
    border-radius: var(--panel-border-radius);
    margin-left: 0.25rem;
}

.video-tag-additional.hidden {
    display: none;
}

.video-tag-text:hover {
    background-color: var(--backdrop-highlight);
}

/* MOBILE */

@media only screen and (max-width: 480px) {
    #search-wrapper {
        --search-height: 2rem;
        max-width: 100%;
        grid-column: 2/4;
        padding-right: 0.25rem;
        grid-template-columns: var(--search-height) 1fr var(--search-height)
    }

    #search-wrapper > * {
        background-color: var(--backdrop-highlight);
    }

    #search-box {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        padding-right: calc(var(--search-height) + 0.5rem);
    }

    #search-icon {
        font-size: 1.25em;
        color: var(--backdrop);
    }

    #search-return {
        grid-column: 1;
    }

    #search-clear {
        grid-column: 3;
        font-size: 1.25em;
        height: var(--search-height);
        min-width: var(--search-height);
        border-top-right-radius: var(--panel-border-radius);
        border-bottom-right-radius: var(--panel-border-radius);
        margin-right: 0.25rem;
    }
}